body {
  margin: 0;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.movie-card {
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.1);
}  
.app-title {
  text-align: center;
  color: red;
  margin-top: 20px;
  font-size: 32px;
}
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}